'editor':
  'fontSize': 17
  'preferredLineLength': 120
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'twilight'
  ]
  'disabledPackages': [
    'background-tips'
  ]
  'ignoredNames': [
    '.git'
    '.DS_Store'
    'vendor'
  ]
'exception-reporting':
  'userId': 'd4061c95-56e7-c67f-7ffb-4e2a98d6eaba'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '739b23e24c1f702abbc82f4f8f5d274c66bccec5'
'autosave':
  'enabled': true
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
